{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
       <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>


        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Disco NasPi (Sevidor)</a></h2>
            <p>Ya puedes compartir tus archivos en un mini servidor que funciona con bajo consumo eléctrico.

- Funciona para compartir cualquier tipo de archivo en la red 

- Compatibilidad con cualquier dispositivo que tenga acesso a la red 

- Ideal para hacer BackUp 

(Disponible en carcasa transparente y carcasa oficial)</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Emblable profesional (Equipo Gaming y/o Arquitectura)</a></h2>
            <p>Equipos Gaming: Equipos especiales para juegos  que requieren  altos recursos.</p>
        </div>
    </body>
</html>